@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Typography
$font-Poppins: 'Poppins', sans-serif;

// Colors
$color-main: #02041f;
$color-dark-blue: #1E3A78; //Main color: Header and navigation, call-to-action buttons, typography for headings #1E3A78
$color-light-blue: #3B82F6; //Secondary color: Hover effect for call-to-action buttons, links, and icons, highlights and accents,secondary buttons #3B82F6
$color-soft-white: #F8FAFC; //Background color

// Header Height
$header-height: 15vh;