@use 'variables';
@use 'mixins';

.title-nav{
    @include mixins.flex-between;
    align-items: center;
    padding: 1rem 2rem;

    .btn-view{
        border: none;
        color: variables.$color-dark-blue;
        background-color: variables.$color-soft-white;
        padding: 1rem 2rem;
        border-radius: 0.5rem;
    }
}

.project{
    margin: 0 1rem;
    
    &-images-grid{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        gap: 1rem;
        border: 1px solid variables.$color-dark-blue;
        padding: 1rem 2rem;

        img:hover{
            transform: scale(1.2);
            transition: transform 0.5s;
            cursor: pointer;
        }
    }

    &-details{
        margin: 1rem 2rem;
    }
}
